setuptools==59.5.0
tqdm
dill
numpy>=1.21
matplotlib>=3.5
scipy>=1.7
scikit_learn>=1.0
termcolor
GPUtil
soundfile
torch>=1.12
torchvision
torchaudio
torchcrepe
tensorboard
pytorch_lightning==1.6
hydra-core==1.2
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/domkirke/acids_transforms.git
git+https://github.com/domkirke/lardon.git
git+https://github.com/acids-ircam/nn_tilde.git@feature/attributes
git+https://github.com/domkirke/trajectories.git@master