setuptools==59.5.0
numpy>=1.21
matplotlib>=3.5
scipy>=1.7
scikit_learn>=1.0
librosa>=0.9
torch>=1.12
soundfile
torchaudio
pytorch_lightning==1.6
hydra-core==1.2
tqdm
tensorboard
dill
termcolor
GPUtil
git+https://github.com/caillonantoine/cached_conv.git#egg=cached_conv
git+https://github.com/domkirke/acids_transforms.git
git+https://github.com/domkirke/lardon.git
git+https://github.com/domkirke/trajectories.git@master